body {
    background-image: url("./assets/real_backgrnd.jpg");
    background-size: inherit;
    background-repeat: round;

}

.heading,
h3,
h4 {
    text-align: left;
    color: maroon;
    background-color: rgba(255, 0, 0, 0.168);

    ;
}

h1 {
    text-align: center;
    color: black;
    padding: 10px 10px 10px 10px;
    border: 5px solid gray;
    background-color: rgba(228, 67, 67, 0.168);
    border-radius: 10px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgb(241, 192, 192);
    width: max-content;
    margin: auto;

}

.heading {
    text-decoration-line: underline;
    text-decoration-style: double;
}

#ab a:link {
    color: rgb(0, 0, 255);
}

a:visited {
    color: green;
}

#ab :hover {
    color: rgb(255, 105, 105);
    font-size: 22px;
}

a:active {
    color: blue;
}

ol.n {
    list-style-type: square;
}

h6 {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 10%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

img {
    float: none;
}

span.l {
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: aquamarine;
}

.down {
    padding: 20px;
}

.down p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

.down:hover p {
    display: block;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #efbc6b;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.ll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: auto;
    border: 2px solid whitesmoke;



}

.ll>li {
    float: left;

}

.ll>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ll>li>a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
#qwerty {

}